DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=monkey-money
PORT=3000

# Sentry (local | staging | production)
SENTRY_DSN=https://03e313eb06e7c2ad37f9f8501b510c97@o1071008.ingest.us.sentry.io/4511003051360256
SENTRY_ENVIRONMENT=local
